In [50]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 999 # to display all rows
pd.options.display.max_columns = 999 # to display all columns

In [51]:
miles_df = pd.read_csv("Data/Mileage.csv", engine = "python")

In [52]:
miles_df

        Monday  Mileage                                              Notes
0    8/19/2019    293.8                                                NaN
1    8/26/2019    955.0                                          Milwaukee
2     9/2/2019    167.8                                                NaN
3     9/9/2019    411.4                                          La Crosse
4    9/16/2019    958.9                                            Chicago
5    9/23/2019     87.0                                                NaN
6    9/30/2019    130.1                                                NaN
7    10/7/2019   1007.5                                            Chicago
8   10/14/2019     88.3                                                NaN
9   10/21/2019    118.7                                                NaN
10  10/28/2019     48.6                                                NaN
11   11/4/2019     72.5                                                NaN
12  11/11/2019    136.5                                                NaN
13  11/18/2019    162.7                                                NaN
14  11/25/2019    486.8                                                NaN
15   12/2/2019    526.2                                                NaN
16   12/9/2019    125.5                                                NaN
17  12/16/2019     13.3                                               Snow
18  12/23/2019     89.6                                                NaN
19  12/30/2019     57.2                                                NaN
20    1/6/2020      0.0                                          Las Vegas
21   1/13/2020    134.6                                                NaN
22   1/20/2020     55.8                                                NaN
23   1/27/2020    137.9                                                NaN
24    2/3/2020    157.2                                                NaN
25   2/10/2020     95.9                                                NaN
26   2/17/2020     75.1                                                NaN
27   2/24/2020     75.1                                                NaN
28    3/2/2020    124.6                                                NaN
29    3/9/2020      NaN                                   Car battery died
30   3/16/2020    843.3  Milwaukee; Coronavirus begins, 3/11 NBA postpo...
31   3/23/2020      4.3                                                NaN
32   3/30/2020     46.5                                                NaN
33    4/6/2020     29.7                                                NaN
34   4/13/2020      2.0                                                NaN
35   4/20/2020     76.0                                                NaN
36   4/27/2020      2.8                                                NaN
37    5/4/2020      8.0                                                NaN
38   5/11/2020      0.0                                                NaN
39   5/18/2020      2.8                                                NaN
40   5/25/2020    135.4                                                NaN
41    6/1/2020      0.0                                                NaN
42    6/8/2020     76.2                                                NaN
43   6/15/2020    288.2                          Redwood Falls and Mankato
44   6/22/2020    879.6                                            Chicago
45   6/29/2020      2.9                                                NaN
46    7/6/2020    150.4                                                NaN
47   7/13/2020    347.8                                             Winona
48   7/20/2020     86.9                                                NaN
49   7/27/2020      0.0                                                NaN
50    8/3/2020      0.0                                       South Dakota
51   8/10/2020    400.0                                            Chicago
52   8/17/2020    371.9                                            Chicago
53   8/24/2020    120.9                                                NaN
54   8/31/2020     13.8                                                NaN
55    9/7/2020     50.5                                                NaN
56   9/14/2020    127.6                                                NaN
57   9/21/2020    104.7                                                NaN
58   9/28/2020     38.6                                                NaN
59   10/5/2020     96.5                                                NaN
60  10/12/2020    136.0                                                NaN
61  10/19/2020    178.7                                            Mankato
62  10/26/2020     49.5                                                NaN
63   11/2/2020     57.5                                                NaN
64   11/9/2020      0.0                                                NaN
65  11/16/2020     45.9                                                NaN
66  11/23/2020     46.9                                                NaN
67  11/30/2020      5.6                                                NaN
68   12/7/2020     45.2                                                NaN
69  12/14/2020     44.7                                                NaN

In [53]:
miles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 3 columns):
Monday     70 non-null object
Mileage    69 non-null float64
Notes      15 non-null object
dtypes: float64(1), object(2)
memory usage: 1.8+ KB

### Idenity any weeks where mileage was not recorded

In [54]:
miles_df[miles_df["Mileage"].isnull()]

      Monday  Mileage             Notes
29  3/9/2020      NaN  Car battery died

### How should the missing value be imputed?

In [55]:
miles_df.describe()

           Mileage
count    69.000000
mean    169.723188
std     244.174248
min       0.000000
25%      44.700000
50%      87.000000
75%     150.400000
max    1007.500000

mean? median? or perhaps something more specific?

In [56]:
miles_df.loc[:,"Notes"].unique()

array([nan, 'Milwaukee', 'La Crosse', 'Chicago', 'Snow', 'Las Vegas',
       'Car battery died',
       'Milwaukee; Coronavirus begins, 3/11 NBA postponed season',
       'Redwood Falls and Mankato', 'Winona', 'South Dakota', 'Mankato'],
      dtype=object)

In [57]:
# na = False treats na values as False
miles_df["Milwaukee"] = np.where(miles_df['Notes'].str.lower().str.contains("milwaukee", na = False), 1, 0)
miles_df["Chicago"] = np.where(miles_df['Notes'].str.lower().str.contains("chicago", na = False), 1, 0)

In [58]:
miles_df

,Monday,Mileage,Notes,Milwaukee
0,8/19/2019,293.8,NaN,0
1,8/26/2019,955.0,Milwaukee,1
2,9/2/2019,167.8,NaN,0
3,9/9/2019,411.4,La Crosse,0
4,9/16/2019,958.9,Chicago,0
5,9/23/2019,87.0,NaN,0
6,9/30/2019,130.1,NaN,0
7,10/7/2019,1007.5,Chicago,0
8,10/14/2019,88.3,NaN,0
9,10/21/2019,118.7,NaN,0
10,10/28/2019,48.6,NaN,0
11,11/4/2019,72.5,NaN,0
12,11/11/2019,136.5,NaN,0
13,11/18/2019,162.7,NaN,0
14,11/25/2019,486.8,NaN,0
15,12/2/2019,526.2,NaN,0
16,12/9/2019,125.5,NaN,0
17,12/16/2019,13.3,Snow,0
18,12/23/2019,89.6,NaN,0
19,12/30/2019,57.2,NaN,0
20,1/6/2020,0.0,Las Vegas,0
21,1/13/2020,134.6,NaN,0
22,1/20/2020,55.8,NaN,0
23,1/27/2020,137.9,NaN,0
24,2/3/2020,157.2,NaN,0
25,2/10/2020,95.9,NaN,0
26,2/17/2020,75.1,NaN,0
27,2/24/2020,75.1,NaN,0
28,3/2/2020,124.6,NaN,0
29,3/9/2020,NaN,Car battery died,0
30,3/16/2020,843.3,"Milwaukee; Coronavirus begins, 3/11 NBA postpo...",1
31,3/23/2020,4.3,NaN,0
32,3/30/2020,46.5,NaN,0
33,4/6/2020,29.7,NaN,0
34,4/13/2020,2.0,NaN,0
35,4/20/2020,76.0,NaN,0
36,4/27/2020,2.8,NaN,0
37,5/4/2020,8.0,NaN,0
38,5/11/2020,0.0,NaN,0
39,5/18/2020,2.8,NaN,0
40,5/25/2020,135.4,NaN,0
41,6/1/2020,0.0,NaN,0
42,6/8/2020,76.2,NaN,0
43,6/15/2020,288.2,Redwood Falls and Mankato,0
44,6/22/2020,879.6,Chicago,0
45,6/29/2020,2.9,NaN,0
46,7/6/2020,150.4,NaN,0
47,7/13/2020,347.8,Winona,0
48,7/20/2020,86.9,NaN,0
49,7/27/2020,0.0,NaN,0
50,8/3/2020,0.0,South Dakota,0
51,8/10/2020,400.0,Chicago,0
52,8/17/2020,371.9,Chicago,0
53,8/24/2020,120.9,NaN,0
54,8/31/2020,13.8,NaN,0
55,9/7/2020,50.5,NaN,0
56,9/14/2020,127.6,NaN,0
57,9/21/2020,104.7,NaN,0
58,9/28/2020,38.6,NaN,0
59,10/5/2020,96.5,NaN,0
60,10/12/2020,136.0,NaN,0
61,10/19/2020,178.7,Mankato,0
62,10/26/2020,49.5,NaN,0
63,11/2/2020,57.5,NaN,0
64,11/9/2020,0.0,NaN,0
65,11/16/2020,45.9,NaN,0
66,11/23/2020,46.9,NaN,0
67,11/30/2020,5.6,NaN,0
68,12/7/2020,45.2,NaN,0
69,12/14/2020,44.7,NaN,0

In [59]:
miles_df["Milwaukee"].sum()

2

### Identifying when Coronovirus started

In [66]:
# identify observations of when Coronavirus starts in this analysis
miles_df["Coronavirus"] = np.where(miles_df['Notes'].str.lower().str.contains("coronavirus", na = False), 1, 0)

# find date
miles_df.loc[miles_df["Coronavirus"] == 1, "Monday"]

30    3/16/2020
Name: Monday, dtype: object

In [67]:
# create indicator for Coronavirus period vs non-Coronavirus period
miles_df["covid_ind"] = np.where(miles_df['Monday'] >= "3/16/2020", 1, 0)

In [68]:
miles_df

,Monday,Mileage,Notes,Milwaukee,Coronavirus,covid_ind
0,8/19/2019,293.8,NaN,0,0,1
1,8/26/2019,955.0,Milwaukee,1,0,1
2,9/2/2019,167.8,NaN,0,0,1
3,9/9/2019,411.4,La Crosse,0,0,1
4,9/16/2019,958.9,Chicago,0,0,1
5,9/23/2019,87.0,NaN,0,0,1
6,9/30/2019,130.1,NaN,0,0,1
7,10/7/2019,1007.5,Chicago,0,0,0
8,10/14/2019,88.3,NaN,0,0,0
9,10/21/2019,118.7,NaN,0,0,0
10,10/28/2019,48.6,NaN,0,0,0
11,11/4/2019,72.5,NaN,0,0,0
12,11/11/2019,136.5,NaN,0,0,0
13,11/18/2019,162.7,NaN,0,0,0
14,11/25/2019,486.8,NaN,0,0,0
15,12/2/2019,526.2,NaN,0,0,0
16,12/9/2019,125.5,NaN,0,0,0
17,12/16/2019,13.3,Snow,0,0,0
18,12/23/2019,89.6,NaN,0,0,0
19,12/30/2019,57.2,NaN,0,0,0
20,1/6/2020,0.0,Las Vegas,0,0,0
21,1/13/2020,134.6,NaN,0,0,0
22,1/20/2020,55.8,NaN,0,0,0
23,1/27/2020,137.9,NaN,0,0,0
24,2/3/2020,157.2,NaN,0,0,0
25,2/10/2020,95.9,NaN,0,0,0
26,2/17/2020,75.1,NaN,0,0,0
27,2/24/2020,75.1,NaN,0,0,0
28,3/2/2020,124.6,NaN,0,0,1
29,3/9/2020,NaN,Car battery died,0,0,1
30,3/16/2020,843.3,"Milwaukee; Coronavirus begins, 3/11 NBA postpo...",1,1,1
31,3/23/2020,4.3,NaN,0,0,1
32,3/30/2020,46.5,NaN,0,0,1
33,4/6/2020,29.7,NaN,0,0,1
34,4/13/2020,2.0,NaN,0,0,1
35,4/20/2020,76.0,NaN,0,0,1
36,4/27/2020,2.8,NaN,0,0,1
37,5/4/2020,8.0,NaN,0,0,1
38,5/11/2020,0.0,NaN,0,0,1
39,5/18/2020,2.8,NaN,0,0,1
40,5/25/2020,135.4,NaN,0,0,1
41,6/1/2020,0.0,NaN,0,0,1
42,6/8/2020,76.2,NaN,0,0,1
43,6/15/2020,288.2,Redwood Falls and Mankato,0,0,1
44,6/22/2020,879.6,Chicago,0,0,1
45,6/29/2020,2.9,NaN,0,0,1
46,7/6/2020,150.4,NaN,0,0,1
47,7/13/2020,347.8,Winona,0,0,1
48,7/20/2020,86.9,NaN,0,0,1
49,7/27/2020,0.0,NaN,0,0,1
50,8/3/2020,0.0,South Dakota,0,0,1
51,8/10/2020,400.0,Chicago,0,0,1
52,8/17/2020,371.9,Chicago,0,0,1
53,8/24/2020,120.9,NaN,0,0,1
54,8/31/2020,13.8,NaN,0,0,1
55,9/7/2020,50.5,NaN,0,0,1
56,9/14/2020,127.6,NaN,0,0,1
57,9/21/2020,104.7,NaN,0,0,1
58,9/28/2020,38.6,NaN,0,0,1
59,10/5/2020,96.5,NaN,0,0,0
60,10/12/2020,136.0,NaN,0,0,0
61,10/19/2020,178.7,Mankato,0,0,0
62,10/26/2020,49.5,NaN,0,0,0
63,11/2/2020,57.5,NaN,0,0,0
64,11/9/2020,0.0,NaN,0,0,0
65,11/16/2020,45.9,NaN,0,0,0
66,11/23/2020,46.9,NaN,0,0,0
67,11/30/2020,5.6,NaN,0,0,0
68,12/7/2020,45.2,NaN,0,0,0
69,12/14/2020,44.7,NaN,0,0,0

In [ ]:
# convert monday to datetime